<mat-card>
  <div class="league-header">
    <span class="league-title">{{ league().leagueName }}</span>
    <button mat-icon-button type="button" (click)="toggle()">
      <mat-icon [class.collapsed]="collapsed()">expand_more</mat-icon>
    </button>
  </div>

  @if (!collapsed()) {
    <table>
      <colgroup>
        <col class="col-name" />
        <col class="col-date" />
        <col class="col-sport" />
        <col class="col-region" />
        <col class="col-league" />
        <col class="col-odd" />
        <col class="col-odd" />
        <col class="col-odd" />
        <col class="col-odd" />
        <col class="col-odd" />
      </colgroup>
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Sport</th>
          <th>Region</th>
          <th>League</th>
          <th>1</th>
          <th>X</th>
          <th>2</th>
          <th>1X</th>
          <th>X2</th>
        </tr>
      </thead>
      <tbody>
        @for (match of league().matches; track match.EventID) {
          <app-match-row [match]="match" [highlightedOdd]="highlightedOdd()"></app-match-row>
        }
      </tbody>
    </table>
  }
</mat-card>
