<td>{{ match().EventName }}</td>
<td>{{ match().EventDate | formatDate }}</td>
<td>{{ match().sportName }}</td>
<td>{{ match().regionName }}</td>
<td>{{ match().leagueName }}</td>
<td [class.odd--highlighted]="isOddHighlighted(match().odds.home)">
  {{ match().odds.home | formatOdd }}
</td>
<td [class.odd--highlighted]="isOddHighlighted(match().odds.draw)">
  {{ match().odds.draw | formatOdd }}
</td>
<td [class.odd--highlighted]="isOddHighlighted(match().odds.away)">
  {{ match().odds.away | formatOdd }}
</td>
<td [class.odd--highlighted]="isOddHighlighted(match().odds.homeOrDraw)">
  {{ match().odds.homeOrDraw | formatOdd }}
</td>
<td [class.odd--highlighted]="isOddHighlighted(match().odds.drawOrAway)">
  {{ match().odds.drawOrAway | formatOdd }}
</td>
