<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidenav-body">
      <span class="sidenav-label">Sports</span>
      <mat-accordion class="sport-accordion" multi>
        @for (sport of sportGroups(); track sport.sportId) {
          <mat-expansion-panel class="sport-panel">
            <mat-expansion-panel-header>
              <mat-icon class="sport-icon">{{ sportIcon(sport.sportName) }}</mat-icon>
              <mat-panel-title class="sport-title">{{ sport.sportName }}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              @for (league of sport.leagues; track league.leagueId) {
                <mat-list-item
                  class="sport-league"
                  [class.active]="selectedLeagueId() === league.leagueId"
                  (click)="leagueSelected.emit(league.leagueId)"
                  (keydown.enter)="leagueSelected.emit(league.leagueId)"
                >
                  <span class="league-name">{{ league.leagueName }}</span>
                  <span class="match-count">{{ league.matches.length }}</span>
                </mat-list-item>
              }
            </mat-nav-list>
          </mat-expansion-panel>
        }
      </mat-accordion>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <ng-content />
  </mat-sidenav-content>
</mat-sidenav-container>
